write-kubeconfig-mode: "0644"
tls-san:
  - {{ vip }}
  - {{ hostvars['server1']['ansible_host'] }}
  - {{ hostvars['server2']['ansible_host'] }}
  - {{ hostvars['server3']['ansible_host'] }}
node-label:
  - server=true
disable:
  - rke2-ingress-nginx