# rke2-server.service.j2
[Unit]
Description=RKE2 server
After=network.target

[Service]
ExecStart=/usr/local/bin/rke2 server
KillMode=process
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
