write-kubeconfig-mode: "0644"
token: {{ hostvars[groups['servers'][0]]['token'] }}
server: https://{{ hostvars[groups['servers'][0]]['ansible_host'] }}:9345
tls-san:
  - {{ vip }}
{% for host in groups['servers'] %}
  - {{ hostvars[host]['ansible_host'] }}
{% endfor %}
node-label:
  - server=true